# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db


# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/


# ===============================
# Dependencies
# ===============================
/vendor/
/node_modules/


# ===============================
# Logs & Cache
# ===============================
storage/logs/
storage/cache/


# ===============================
# Environment & Secrets
# ===============================
.env
.env.local


# ===============================
# Temporary / Deployed Assets
# ===============================
storage/uploads/*
!storage/uploads/.gitignore

# Keep keys private
storage/seed_super_admin.php

# ===============================
# Backup files
# ===============================
*.bak
*.old
