# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db


# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/


# ===============================
# Dependencies
# ===============================
/vendor/
/node_modules/


# ===============================
# Logs & Cache
# ===============================
storage/logs/
storage/cache/


# ===============================
# Environment & Secrets
# ===============================
.env
.env.local


# ===============================
# Temporary / Seeder
# ===============================
storage/seed_super_admin.php
storage/uploads/promo



# ===============================
# Backup files
# ===============================
*.bak
*.old
/storage/uploads/promos
